*{
	margin: 0;padding: 0;font-family: comic sans ms;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
#pencarian{
	display: block;
	margin: 10px 0;
}
#pencarian input[type='text']{
	width: 206px;
	padding: 5px 0;
	font-size: 15px;

}
#to-top{
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	border: 30px;
	border: 3px solid #000;
	z-index: 10;	
	border-radius: 10px;
}
#to-top img{
	width: 50px;
	height: 50px;
}
.box{
	height: 100%;
	position: fixed;
	width: 210px;
	left: -236px;
	background: #1E90FF;
	z-index: 10;
	color: white;
	padding: 10px;
	text-transform: uppercase;
}
.nav{
	position: absolute;
	right: -60px;
	background: #1E90FF;
	cursor: pointer;
	top: 50px;
	transform: rotate(-90deg);
	padding: 5px 20px;
	width: 50px;
	height: 20px;
	border-radius: 0 0 10px 10px;
}
.menu{
	width: 210px;
	overflow: hidden;
	height: 100%;
}
.menu img{
	margin: 1% 0;
	width: 100%;
	height: 20%;
}
.nav-ul ul{
display: none;
}
li.tap ul{
	display: block;
}
.nav-box a{
	display: block;
	cursor: pointer;
	padding: 10px 20px;
	background: #1C86EE;
	border: 1px solid white;
	border-collapse: collapse;
	color: white;
}
.nav-li .arrow:after{
	content: '\203A';
	float: right;
	transform: rotate(90deg);
}
li.tap .arrow:after{
	content: '\2039';
}
li.tap ul li a:before{
	content: '\203A';
	margin: 0 5px 0 0;
}
#slider{
	overflow: hidden;
}
#slider figure img{
	width: 100%;
	float: left;
}
#slider figure{
	width: 100%;
	position: relative;
	left: 0;
}
#slider img{
	height: 663px;
}
#slider .inside{
	z-index: 2;
	position: absolute;
	text-align: center;
	top: 470px;
	width: 90%;
	padding: 30px 5%;
	color: white;
	background: rgba(0,0,0,0.5);
}
#wisata{
	width: 100%;
	text-align: center;

	margin-bottom: 1%;
	text-transform: uppercase;
}
#wisata h1{
	margin: 3% 0;
}
.tw-box{
	text-align: center;
	width: 100%;
	display: block;
}
.tw-box:after,.tw-item:before{
	display: table;content: '';
}
.tw-box:after{
	clear: both;
}
.tw-item{
	overflow: hidden;
	width: 300px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	cursor: pointer;
	display: inline-block;
	margin: 20px 10px 70px 10px;
}
.tw-item img{
	width: 300px;
	height: 200px;
	transition: all ease-in-out 0.4s;
}
.img-wrap{
	overflow: hidden;
}
.tw-item:hover img{
	transform: scale(2) rotate(20deg);
}
.tw-item p{
	width: 300px;
	padding: 15px 0;
	background: white;
}
.tw-item a{
	color: black;
}
.alam{
	border-bottom: 5px solid #cc3333;
}
.tw-item:hover .alam{
	background: #cc3333;
}


#footer{
	background: #000;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
#footer h4{
	padding: 15px 0;
}
.menufoot{
	overflow: hidden;
	width: 100%;
	margin-top: 1%;
	background: #242424;
	padding: 1% 3%;
}

.bukutamu{
	width: 30%;
}
.bukutamu table td{
	vertical-align: top;
	padding: 10px 0;
}
.bukutamu table input[type='text']{
	width: 128%;
	padding: 5px 1%;
	border-radius: 5px;
}
.bukutamu table textarea{
	width: 128%;
	padding: 5px 1%;
	border-radius: 5px;
	height: 70px;
}
.bukutamu table input[type='submit']{
	padding: 10px 20px;
	display: block;
	margin: 0 auto;
	border:2px solid transparent;
	cursor: pointer;
	border-radius: 10px;
}
.bukutamu table input[type='submit']:hover{
	background: #242424;
	border:2px solid #fff;
}
.menufoot h2{
	padding-bottom: 5px;
	border-bottom: 3px solid #fff;
	margin-bottom: 10px;
}
.menufoot td{
	vertical-align: top;
	display: inline-block;
	padding:0 1%;
}
.navigasi{
	width: 15%;
}
.navigasi a{
	color: #fff;
}
.kontakkami{
	width: 40%;
	text-align: left;
}
.kontakkami h2{
	text-align: center;
}
#isi{
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 3% 0 2% 0;
}
.body{
	background: #ddd;
	display: block;
	width: 68%;
	margin-left: 1%;
	float: left;
	padding:1% 1% 3% 1%;
	overflow: hidden;
}
.body img{
	width: 400px;
	height: 250px;
	float: left;
	padding: 0 5px 2px 0;
}
.body p{
	text-align: justify;
	font-family: times new roman;
	font-size: 17px;
}
.body h2{
	border-bottom:5px solid #000;
}
.share{
	padding-top: 10px;
	display: block;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
}
.share img{
	display: inline-block;
	float: none;
	padding-top: 10px;
	width: 50px;
	height: 50px;
}
.komentar{
	display: block;
	padding: 10px 0;
}
.komentar h3{
	margin-top: 30px;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}
.komentar table td,.komentar table th{
	vertical-align: top;
	padding:5px 10px;
}
.komentar .komen{
	padding-top: 20px;
}
.tbl-ngisi{
	width: 100%;
}
.tbl-ngisi input[type='text']{
	width:100%;
	padding:5px;
	border-radius: 5px;
}
.tbl-ngisi textarea{
	width: 100%;
	border-radius: 5px;
	padding:5px;
	height: 100px;
}
.tbl-ngisi input[type='submit']{
	width: 50%;
	display: block;
	padding:5px;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
}
.komen-box{
	width: 100%;
	height: auto;
}
.komen-box img{
width: 75px;
height: 75px;
}
.nama-komen{
	text-transform: uppercase;
	font-weight: bold;
}
.email-komen{
	font-size: 12px;
}
.isi-komen{
	text-align: justify;
	display: block;
	margin-left:85px; 
}
.body hr{
	color: #000;
	background: #000;
}
.sidebar{
	display: block;
	width: 27%;
	float: right;
	position: relative;
	margin-right: 1%;
}
.sidebar h2,.sidebar p{
	text-align: center;
}
.sidebar img{
	width: 100%;
	transform: scale(1.5);
	margin-top: 5px;
}
.map-wrap{
	overflow: hidden;
	border:1px solid #000; 
}